FlowDemo/main/default/flows/Multi_Column_Flow_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_Comma</name>
        <label>Add Comma</label>
        <locationX>588</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>MyOutputsString</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>,</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Concat_My_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Concat_the_one_value</name>
        <label>Concat the one value</label>
        <locationX>275</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>MyOutputsString</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OneOutput</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Comma</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Multi Column Flow Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Multi Column Flow Test</label>
    <loops>
        <name>Concat_My_Values</name>
        <label>Concat My Values</label>
        <locationX>412</locationX>
        <locationY>298</locationY>
        <assignNextValueToReference>OneOutput</assignNextValueToReference>
        <collectionReference>MyOutputs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Concat_the_one_value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Second_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>First_Screen</name>
        <label>First Screen</label>
        <locationX>219</locationX>
        <locationY>49</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Concat_My_Values</targetReference>
        </connector>
        <fields>
            <name>MyInputs</name>
            <extensionName>c:multiColumnInput</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>labels</name>
                <value>
                    <stringValue>First one,Second One, third One</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MyOutputs</assignToReference>
                <name>values</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Second_Screen</name>
        <label>Second Screen</label>
        <locationX>625</locationX>
        <locationY>47</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Final</name>
            <fieldText>&lt;p&gt;Final value: {!MyOutputsString}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>First_Screen</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MyOutputs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyOutputsString</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OneOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
